<section class="phx-hero">
  <h1>
    Four Letter Words
  </h1>
</section>

<section class="row">
  <section class="column">
    <a href="/words">See the list.</a>
  </section>
  <section class="column">
    <a href="/words/new">Add a new word.</a>
  </section>
</section>
