<section class="phx-hero">
  <h1>
    <%= gettext "Welcome to %{name}.", name: "the banana zone" %>
  </h1>
  <p>
    Do people still use "homepage?"
  </p>
</section>

<section class="row">
  <p>
    This is my site.  You may not have it.  Actually, it's web, so you can have some of it.
  </p>
</section>
